<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque rerum minima non, quas sint tenetur fuga eum nam laudantium sit neque voluptatem corrupti, corporis earum omnis consequuntur! Exercitationem, minus ea.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consequatur placeat sunt enim, officiis est velit necessitatibus ducimus nemo, aspernatur facilis blanditiis dolorum error tenetur voluptatum, unde eligendi maiores molestias.
</p>